html,
body {
    overflow: hidden;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    text-align: center;
}

#renderCanvas {
    width: 100%;
    height: 100%;
    touch-action: none;
}

@media(max-width: 768px) {
  #scene-explorer-host,
  #inspector-host {
    display: none;
  }
}
